
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000;
  color: white;
}

header {
  text-align: center;
  padding: 15px;
  margin-top: 10px;
}

.profile-section {
  background: #2c2c2c;
  border-radius: 30px;
  padding: 15px 18px;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  border: 4px solid #222;
}

header img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h1 {
  margin: 5px 0;
  font-size: 23px;
  color: #fff;
}

.social-icons {
  margin: 5px 0 5px;
}

.social-icons a {
  display: inline-block;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.social-icons img {
  margin: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  filter: invert(50%);
  transition: transform 0.3s ease;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.search-bar {
  text-align: center;
  padding: 5px;
}

.search-bar input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  border: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
  padding: 20px;
}

.product {
  background: #1a1a1a;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.product a {
  color: white;
  text-decoration: none;
}

.product img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product p {
  font-size: 14px;
  margin: 0;
  color: #ddd;
}

.tag {
  display: inline-block;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.black {
  background: black;
}